body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(191,222,66,255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-logo {
	display: flex;
	justify-content: center;
	padding: 2rem;
	background-color: #121212;
}

.char-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 2rem;
	gap: 2rem;
}

.char-card {
	background-color: rgb(29, 31, 36);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	padding: 0 0 2rem 0;
	border: 2px solid black;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
}

.char-card img {
	/*border-bottom-left-radius: 10px;*/
	border-top-right-radius: 7px;
	background-position: center;
	overflow: hidden;
}

.char-card p {
	color: whitesmoke;
	font-weight: bold;
	font-size: 1rem;
}

.char-modal {
	background-color: rgba(66, 180, 202, 0.75);
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.char-modal main {
	background-color: rgb(29, 31, 36);
	border-radius: 15px;
	color: whitesmoke;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	min-height: 50%;
}

.char-modal img {
	border: 3px solid rgba(191,222,66,255);
	border-radius: 10px;
	height: 100%;
	width: 100%;
}